body {
    font-family: 'Rubik', sans-serif;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4 {
    line-height: 1.1em;
    text-align: center;
    padding: 0 10px;
}

h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

h2 {
    color: #0287a5;
    margin-top: 0;
    margin-bottom: 20px;
}

div.table {
    display: table;
}

textarea {
    height: 150px !important;
    resize: vertical;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

.vertical-delimiter {
    width: 1px;
    height: 50px;
    margin: 0 10px;
    background-color: #959595;
}

.modal-body h1 {
    text-align: center;
}

.section {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    border-bottom: 2px solid #0287a5;
}

.section.main {
    background: url('../images/poster.jpg') center no-repeat;
    background-size: cover;
}

.section .form-group {
    width: 300px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.section .form-group input {
    height: 40px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #0287a5;
}

.section.gray {
    background: url("../images/light-grey-bg.jpg") repeat fixed;
}

.section .header {
    width: 100%;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}

.section i {
    color: #0287a5;
}

.section.about {
    height: 600px;
    background: url("../images/landrover.jpg") no-repeat;
    background-size: cover;
}

/*.section.about h1,*/
/*.section.about p {*/
    /*color: white;*/
/*}*/

.section.about h1 {
    text-align: left;
}

/*.page-container {*/
    /*padding: 20px 0 0 0;*/
/*}*/

.image {
    text-align: center;
    border: 1px solid #004150;
}

.image > img,
.image > a > img {
    width: 100%;
}

.document {
    text-align: center;
    font-size: 13px;
    color: #004150;
}

.document .image {
    width: 100%;
    margin-bottom: 5px;
}

.modal-header .close {
    top: 10px;
    right: 15px;
}

.modal-header h1 {
    text-align: center;
}

.btn-primary {
    width: 160px;
    background-color: #0287a5 !important;
    border-color: #0287a5 !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #004150;
}

.button {
    min-width: 275px;
    padding: 5px 0 4px 0;
    border-radius: 12px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    float: left;
    background-color: #0287a5;
    border: none;
}

.g-recaptcha {
    display: table;
    margin: auto;
}

.i_agree {
    width: 100%;
    display: table;
    float: none;
    margin: auto;
}

.section .i_agree {
    margin-bottom: 10px;
}

.modal-body .i_agree {
    text-align: center;
}

#callback-modal .checkbox-container {
    width: 100%;
    text-align: center;
}

.calculator .checkbox-container {
    margin-bottom: 5px;
}

.calculator button {
    width: 170px;
    margin-bottom: 20px;
}

.checkbox-inline {
    max-width: calc(100% - 20px);
    display: inline-block;
    padding-top: 0 !important;
    padding-left: 10px;
    text-align: left;
}

.modal-footer {
    text-align: center;
}

.button a {
    color: inherit;
}

.button i {
    margin-left: 5px;
}

.long-button {
    width: 350px;
    margin-bottom: 15px;
}

.navbar.navbar-default {
    width: 100%;
}

.navbar-brand {
    width: 200px;
    height: auto;
    float: left;
    margin-left: 0 !important;
    padding: 15px !important;
}

.navbar-brand img {
    width: 100%;
}

.navbar {
    font-size: 15px;
    padding-left: 0;
    padding-right: 0;
}

.navbar .beard {
    width: 100%;
    height: 20px;
    background-color: #0287a5;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.5);
}

.nav.navbar-nav {
    width: calc(100% - 200px);
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
}

.navbar-header {
    min-width: 40px;
}

.navbar-toggle {
    padding: 15px;
}

.nav > li > a {
    padding: 2px 12px !important;
}

.nav > li:hover > a,
.nav > li.phone > a {
    background: none !important;
    color: #0287a5 !important;
}

.error {
    color: red;
    font-size: 15px;
    padding-left: 30px;
}

.star {
    color: gray;
}

.text-gray {
    color: grey;
}

.text-blue {
    color: #0287a5;
}

.has-feedback {
    position: static;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.form-control-feedback {
    top: auto !important;
    left: auto !important;
    right: auto !important;
}

.has-feedback-left .form-control {
    padding-left: 10px;
}

.has-feedback-left.has-error .form-control,
.has-feedback-left.has-icon .form-control {
    padding-left: 35px;
}

.half-height {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#video-container {
    padding: 0 !important;
}

video  {
    width: 100%;
}

@supports (object-fit: cover)
{
    #video-container > video {
        top: 0;
        left: 0;
        width: 100%;
        object-fit: cover;
    }
}

.owl-carousel {
    width: calc(100% + 2px);
    margin: auto;
}

.owl-nav button {
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-200%);
}

.owl-nav button img {
    height: 100%;
}

.owl-nav button:hover {
    opacity: 0.7;
}

.owl-nav button.owl-prev {
    left: -30px;
}

.owl-nav button.owl-next {
    right: -30px;
}

.owl-dots {
    margin-top: 50px;
    text-align: center;
}

.owl-dots button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black !important;
    margin-left: 10px;
}

.owl-dots button:hover,
.owl-dots button.active {
    background-color: #0287a5 !important
}

img.brand-logo {
    height: 35px;
    margin-right: 10px;
}

.brand-logo img {
    width: 100%;
}

.table-items .price {
    width: 15%;
    font-size: 16px;
}

.table-items td.price {
    color: #0287a5;
}

.action {
    width: 100%;
    text-align: center;
    color: #0287a5;
    font-size: 20px;
    cursor: pointer;
}

.modal-body .action {
    cursor: auto;
}

.nav-tabs.nav-tabs-highlight > li.active > a,
.nav-tabs.nav-tabs-highlight > li.active > a:hover,
.nav-tabs.nav-tabs-highlight > li.active > a:focus {
    border-top: 3px solid #0287a5;
}

.nav-tabs > li {
    font-size: 17px;
}

.nav-tabs > li > a {
    padding-top: 10px !important;
}

.action img {
    width: 100%;
    border: 4px solid white;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.modal-body .action img {
    margin-bottom: 20px;
}

.action .description {
    display: none;
}

.footer {
    width: 100%;
    padding: 20px 0;
    background-color: #dbe2ea;
    position: relative;
    left: auto;
    right: auto;
    bottom: auto;
    z-index: 100 !important;
}

.footer .nav > li > a {
    color: grey;
}

.footer .logos {
    font-size: 12px;
    line-height: 1.2em;
    float: right;
    text-align: center;
    text-transform: uppercase;
    color: grey;
}

.footer .logos img {
    width: 80px;
    display: inline-block;
    margin: 5px auto;
}

.sub-footer {
    width: 100%;
    padding: 15px 0;
    background-color: black;
    color: lightgray;
}

.soc-net {
    width: 35px;
    height: 35px;
    padding: 7px;
    display: inline-block;
    text-align: center;
    border: 2px solid gray;
    border-radius: 50%;
    margin-right: 5px;
    font-size: 10px;
    color: grey;
}

.soc-net:hover {
    border-color: #0287a5;
    color: #0287a5;
}

.copyright {
    float: right;
    margin-top: 10px;
}

#on-top-button {
    width: 48px;
    height: 48px;
    text-align: center;
    color: #0287a5;
    background-color: white;
    border-radius: 50%;
    position: fixed;
    left: auto;
    right: 27px;
    bottom: 90px;
    z-index: 999;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    display: none;
}

#on-top-button i {
    margin-top: 15px;
    font-size: 20px;
}

#callback-button {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #0287a5;
    border-radius: 50%;
    opacity: 0.8;
    position: fixed;
    left: auto;
    right: 20px;
    bottom: 20px;
    z-index: 999;
}

#callback-button i {
    font-size: 20px;
}

#callback-button:hover {
    opacity: 1;
}

#map {
    width: 100%;
    border-bottom: 2px solid #0287a5;
}

.map-point {
    width: 50px;
    height: 50px;
    border: 1px solid #0287a5;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background: url("../images/logo_small.svg") center center no-repeat white;
    background-size: 60%;
}

@media (max-width: 1400px) {
    video {
        width: auto;
        height: 100%;
    }
}

@media (max-width: 1024px) {
    .navbar-nav > li > a {
        padding: 5px;
    }

    .owl-nav {
        display: none;
    }
}

@media (max-width: 400px) {
    .modal-footer button {
        margin: 5px auto;
    }
}

@media (max-width: 769px) {
    .container {
        width: 100%;
    }

    .nav.navbar-nav {
        height: auto;
        display: block;
        padding: 20px;
    }

    .footer .nav {
        margin-bottom: 20px;
    }

    .footer .nav > li {
        text-align: center;
    }
}

@media (max-width: 350px) {
    .long-button {
        width: 100%;
        font-size: 10px;
    }
}

@media (max-width: 300px) {
    .section .form-group {
        width: 95%;
    }
}